.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: white;
}

.logo {
  height: 40px;
  background-color: #e0e0e0;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #213053;
  font-size: 0.9rem;
}